<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h1>Admin</h1>

    <a th:href="@{/test}">Test site</a>

    <form action="/admin/switch/login" method="post">
        <input name="email" type="text">
        <input type="submit" class="btn btn-primary" value="Impersonate">
    </form>
</div>

</body>
</html>