# Database Configuration
DB_USER=woofles
DB_PASSWORD=your_db_password
DB_HOST=172.17.0.1
DB_PORT=5432

# Mail Configuration
MAIL_PASSWORD=your_mailgun_password

# Mailgun Configuration
MAILGUN_APIKEY=your_mailgun_api_key

# Turnstile Configuration (Cloudflare CAPTCHA)
TURNSTILE_SECRET=your_turnstile_secret

# Remember Me Token Key
REMEMBERME_KEY=your_remember_me_key

