<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="posting" class="posting">

    <span class="postingtitle" th:text="${posting.title}">Posting title</span><br>

    <div th:if="${ownProfile}" style="float: right;">
        <a class="btn btn-info" th:href="@{'/postings/update/' + ${posting.id}}">Update</a>
        <a class="btn btn-danger" th:href="@{'/postings/delete/' + ${posting.id}}">Delete</a>
    </div>

    <!--Current URL: <span th:text="${#httpServletRequest.requestURI}"></span>-->
    <!--Query String: <span th:text="${#httpServletRequest.queryString}"></span>-->

    <a th:href="${posting.link}" target="_blank"> <span th:text="${posting.link}">Tag name</span></a>
    <div th:if="${not #lists.isEmpty(posting.tags)}">
        <th:block th:each="tag : ${posting.tags}">
            <a th:if="${#httpServletRequest.queryString == null}" class="tag"
               th:text="${tag.name}"
               th:href="${'?tags=' + tag.name}"></a>
            <a th:unless="${#httpServletRequest.queryString == null}" class="tag"
               th:text="${tag.name}"
               th:href="${urlService.getUrlForTag(#httpServletRequest.queryString, tag.name)}">Tag name</a>
        </th:block>
    </div>


</div>

</body>
</html>