<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:if="${not posting.secret or ownProfile}" th:fragment="posting" class="posting">

    <span th:if="${posting.secret}">[secret]</span>
    <span class="postingtitle" th:text="${posting.title}">Posting title</span><br>

    <div th:if="${ownProfile}" style="float: right;">
        <a class="btn btn-info" th:href="@{'/postings/update/' + ${posting.id}}">Update</a>
        <a class="btn btn-danger" th:href="@{'/postings/delete/' + ${posting.id}}">Delete</a>
    </div>

    <a th:href="${posting.link}" target="_blank" th:text="${posting.getShortenedLink()}">Link</a>
    <div th:if="${not #lists.isEmpty(posting.tags)}"
         th:with="tagUrls=${urlService.getTagUrls(#httpServletRequest, posting.tags)}">
        <th:block th:each="tagUrl : ${tagUrls}">
            <a th:if="${tagUrl.showTag}"
               th:href="${tagUrl.url}" th:text="${tagUrl.name}" th:class="${tagUrl.cssClass}">Tag</a>
        </th:block>
    </div>

</div>

</body>
</html>