body {
    background-color: white;
    padding-top: 40px;
}

.navbar {
    margin-bottom: 0;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.posting {
    border: 1px solid #000000;
    padding: 2px;
    border-radius: 6px;
    margin: 10px 0;
}

.postingtitle {
    font-weight: bold;
}

.tag {
    border: 1px dashed #cccccc;
    padding: 2px;
    border-radius: 6px;
}

.tag-active {
    border: 1px solid red;
    padding: 2px;
    border-radius: 6px;
}

a.tag, a.tag-active {
    color: darkorange;
}

.label.login {
    color: white;
}

.login.error {
    border: 2px dotted red;
    padding: 1px;
}

.form-control[readonly], input[readonly] {
    background-color: white;
}