<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imprint and Privacy policy</title>
</head>
<body>

<h2>Imprint</h2>
Woofles<br>
Stefan Remer<br>
Sprengelstraße 2<br>
13353 Berlin<br>
Email: admin (at) woofl (dot) es
<hr>

<h2>Privacy policy</h2>
<p>
The web server uses default access logs that include ip addresses.<br>
Those will be stored for 14 days and are only considered defending from cyber attacks.
</p>

<p>
To identify users, emails are stored in a database. They are also used to reset users passwords.<br>
</p>

<p>
Besides that no other personal information are used or analyzed.<br>
The only cookie this website uses allows users to stay logged in for longer if they so desire.<br>
No additional tracking or other third party tools are used.
</p>

</body>
</html>