<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h1>Password update</h1>

    <div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">

        <form action="/password_update" method="post">

            <label>New password: </label>
            <input type="password" id="password" name="password">
            <input type="hidden" id="token" name="token" th:value="${token}">

            <br>
            <input class="btn btn-default" type="submit" value="Submit">

        </form>
    </div>

</div>

</body>
</html>