<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>New Posting</h1>
    <form action="#" method="post">

        <div class="form-group">
            <label>Title
                <input name="title" id="title" placeholder="Title" class="form-control" required/>
            </label>
        </div>

        <div class="form-group">
            <label>Link
                <input name="link" id="link" placeholder="http(s)://" required
                       class="form-control" th:value="${oldLink} ? ${oldLink} : ''"/>
            </label>
            <label class="validation-message" th:if="${linkError}" th:text="${linkError}"></label>
        </div>

        <div class="form-group">
            <label>Tags
                <input name="tags" id="tags" placeholder="put some tags here" class="form-control"/>
                <span class="label label-info"
                      data-toggle="tooltip" data-placement="bottom"
                      title="Tags can be separated by a space or any of the following symbols: ^ . , _ * ~ + - / & ">Info</span>
            </label>
        </div>

        <br>
        <button type="submit" value="Submit" class="btn btn-default">Submit</button>
    </form>

</div>
</body>
</html>