<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<script th:replace="fragments/posting :: tags"></script>

<script type="application/javascript">
    $(document).ready(function () {
        var canClick = false;
        var resolveButton = $(".resolve");
        var titleInput = $("input[name='title']");

        function isUrlValid(url) {
            return /^https?:\/\/([\w-]{2,}\.)+[a-zA-Z]{2,}(\/?).*/i.test(url);
        }

        var url = $("input[name='link']");

        url.keyup(function (event) {
            canClick = isUrlValid(url.val());
            var remove = canClick ? "btn-danger" : "btn-success";
            var add = canClick ? "btn-success" : "btn-danger";
            console.log("remove: " + remove + ", add: " + add);
            resolveButton.removeClass(remove).addClass(add);
            resolveButton.prop("disabled", !canClick);
        });

        resolveButton.click(function (event) {
            if (!canClick) {
                return;
            }
            $.ajax({
                type: "get",
                url: "/title/resolve",
                data: {
                    url: url.val()
                },
                success: function (response) {
                    titleInput.val(response);
                },
                error: function (xhr) {
                    console.log("error requesting the title for " + url.val());
                    console.error(xhr);
                }
            });
            event.preventDefault();
        });
    });
</script>

<div class="container">
    <h1>New Posting</h1>
    <form action="#" method="post">

        <div class="form-group">
            <label>Link
                <input name="link" id="link" placeholder="http(s)://" required
                       class="form-control" th:value="${oldLink} ? ${oldLink} : ''"/>
            </label>
            <label class="validation-message" th:if="${linkError}" th:text="${linkError}"></label>
            <a href="#" class="btn btn-danger resolve" readonly="true">Load title</a>
        </div>

        <div class="form-group">
            <label>Title
                <input name="title" id="title" placeholder="Title" class="form-control" required/>
            </label>
        </div>

        <div class="form-group">
            <label>Tags
                <input type="text" name="tags" id="tags" placeholder="enter tags" class="selectize-control"
                       style="width: 200px;"/>
            </label>
        </div>

        <div class="form-group">
            <label>Secret?</label><br>
            <label class="radio-inline"><input type="radio" name="secret" id="secret" th:value="true"/>Yes</label>
            <label class="radio-inline"><input type="radio" name="secret" id="secret" th:value="false"
                                               checked/>No</label>
            <br>
            <span class="label label-info"
                  data-toggle="tooltip" data-placement="bottom"
                  title="Only you can see this posting">Info</span>
        </div>

        <br>
        <button type="submit" value="Submit" class="btn btn-default">Submit</button>
    </form>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>