<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<script th:replace="fragments/posting :: tags"></script>

<div class="container">
    <h1>Update Posting</h1>
    <form th:action="@{/postings/update}" method="post">

        <input name="id" id="id" th:value="${id}" hidden>

        <div class="form-group">
            <label>Title
                <input name="title" id="title" placeholder="Title" class="form-control" th:value="${title}"/>
            </label>
        </div>

        <div class="form-group">
            <label>Link
                <input name="link" id="link" placeholder="Link" class="form-control" th:value="${link}"/>
            </label>
        </div>

        <div class="form-group">
            <label>Tags
                <input type="text" name="tags" id="tags" placeholder="enter tags" class="selectize-control"
                       style="width: 200px;"/>

                <span class="label label-info"
                      data-toggle="tooltip" data-placement="bottom"
                      title="Tags can be separated by a space or any of the following symbols: , ; ~ &">Info</span>
            </label>
        </div>

        <div class="form-group">
            <label>Secret?</label><br>
            <label class="radio-inline"><input type="radio" name="secret" id="secret" th:value="true"
                                               th:checked="${secret}"/>Yes</label>
            <label class="radio-inline"><input type="radio" name="secret" id="secret" th:value="false"
                                               th:checked="${not secret}"/>No</label>
            <br>
            <span class="label label-info"
                  data-toggle="tooltip" data-placement="bottom"
                  title="Only you can see this posting">Info</span>
        </div>

        <br>
        <a class="btn btn-default" th:href="@{'/profile'}">Cancel</a>
        <button type="submit" value="Submit" class="btn btn-default">Submit</button>

    </form>

</div>

</body>
</html>