<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>New Posting</h1>
    <form action="#" method="post">
        <label>Title
            <input name="title" id="title" placeholder="Title"/>
        </label>

        <label>Link
            <input name="link" id="link" placeholder="Link"/>
        </label>

        <label>Tags
            <input name="tags" id="tags" placeholder="Tags"/>
        </label>

        <button type="submit" value="Submit">Submit</button>
    </form>

</div>
</body>
</html>