<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Profile of <span th:text="${user.name}"></span></h1>
    User since <span th:text="${user.getRegistrationDate('dd MMM yyyy')}">Registration date</span>

    <div th:if="${ownProfile}">
        <button type="submit" class="btn btn-primary" onclick="location.href='/postings/insert'">New posting</button>
        <button type="submit" class="btn btn-primary" onclick="location.href='/postings/csv_import'">CSV Import</button>
    </div>

    <div style="border: 1px;">
        <th:block th:each="posting : ${user.postings}">
            <div th:replace="fragments/posting :: posting"></div>
        </th:block>
    </div>

</div>

</body>
</html>