<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="left">
        <h1>Profile of <span th:text="${user.name}"></span></h1>
        User since <span th:text="${user.getRegistrationDate('dd MMM yyyy')}">Registration date</span>

        <div th:if="${ownProfile}">
            <button type="submit" class="btn btn-primary" onclick="location.href='/postings/insert'">New posting
            </button>
            <button type="submit" class="btn btn-primary" onclick="location.href='/postings/csv_import'">CSV Import
            </button>
        </div>

        <br>
        <div th:if="${tags != null}">
            Tags:
            <th:block th:each="tag : ${tags}">
                <a th:href="${urlService.getUrlWithoutTag(#httpServletRequest.getRequestURI(), tags, tag)}"
                   th:text="${tag}" class="tag-active">Tag</a>
            </th:block>
        </div>

        <div th:if="${postings.size() > 0}">
            <div th:replace="fragments/pagination :: paginationbar"></div>

            <div style="border: 1px;">
                <th:block th:each="posting : ${postings}">
                    <div th:replace="fragments/posting :: posting"></div>
                </th:block>
            </div>
            <div th:replace="fragments/pagination :: paginationbar"></div>
        </div>

        <div th:if="${postings.size() == 0}">
            no posts yet
        </div>
    </div>

    <div class="right">
        <div th:if="${postings.size() > 0}">
            <div th:replace="fragments/tag_atlas :: tag-atlas"></div>
        </div>
    </div>

</div>

</body>
</html>